body{
  background-color: #FAEDFF;
}

.header {
  position: sticky;
  top: 0px;
  /* center div */
  display: flex;
  justify-content: center;
}

.whitecontainer {
  background-color: #ffffff;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  top: 40px;
  border-radius: 1rem 1rem 1rem 1rem;
}
