body{
  background-color: #FAEDFF;
}

.header {
  position: sticky;
  top: -10px;
  /* center div */
  display: flex;
  justify-content: center;
  z-index: 1;
}

.whitecontainer {
  background-color: #ffffff;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 1rem 1rem;
  z-index: 2;
}
