body{
  background-color: #FAEDFF;
}

.header {
  position: sticky;
  top: 0px;
  /* center div */
  display: flex;
  justify-content: center;
}

.whitecontainer {
  background-color: #ffffff;
  width: 600px;
  height: 400px;
  
}
