body{
  background-color: #D5E1EF;
}

.whitecontainer{
width: 320px;
height: 497px;
background-color: #fff;
border-radius: 1rem 1rem 1rem 1rem; 
box-shadow: 1px 5px 25px rgba(204, 200, 200, 0.83);
/* To center the div using flex*/
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.image{
border-radius: 0.7rem 0.7rem 0.7rem 0.7rem; 
width: 288px;
height: 288px;
position: fixed;
top: 10%;
left: 50%;
transform: translate(-50%, -12%);
}

/* fonts */
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: grey;
}

.linedText {
width: 220px;
text-align: center;
/* move text on the div*/
position: fixed;
top: 62%;
left: 50%;
transform: translate(-50%, 14%);
}
