p {
font-family: 'Outfit';
}

.body{
  background-color: #D5E1EF;
}

.whitecontainer{
width: 320px;
height: 497px;
background-colour: white;
border-radius: 1rem 1rem 1rem 1rem; 
box-shadow: 3px 3px 7px grey;
}
