body{
  background-color: #D5E1EF;
}

.whitecontainer{
width: 320px;
height: 497px;
background-colour: #fff;
border-radius: 1rem 1rem 1rem 1rem; 
box-shadow: 1px 5px 25px #CCCBCB;
/* To center the div using flex*/
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.image{
border-radius: 0.7rem 0.7rem 0.7rem 0.7rem; 
width: 288px;
height: 288px;
position: fixed;
top: 10%;
left: 50%;
transform: translate(-50%, -12%);
}

/* fonts */
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.linedText {
position: fixed;
top: 10%;
left: 50%;
transform: translate(-50%, 12%);
}
